{
  "openapi": "3.1.0",
  "info": {
    "title": "KomKits Public API",
    "version": "1.0.0",
    "description": "Read-only public gateway covering 18 commerce domains (orders, invoices, quotations, payments, items, parties, sales returns, and lookup/reference data). Every endpoint is authenticated with an API key and is provisioned/managed from the KomKits dashboard Developer Console."
  },
  "servers": [
    {
      "url": "https://api.komkits.com/api/public/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Orders",
      "description": "Sales orders. Core commerce domain — full request/response examples."
    },
    {
      "name": "Invoices",
      "description": "Sales invoices. Core commerce domain — full request/response examples."
    },
    {
      "name": "Quotations",
      "description": "Sales quotations. Core commerce domain — full request/response examples."
    },
    {
      "name": "Incoming payments",
      "description": "Incoming payments (receipts). Core commerce domain — full request/response examples."
    },
    {
      "name": "Outgoing payments",
      "description": "Outgoing payments (vendor/expense payments). Core commerce domain — full request/response examples."
    },
    {
      "name": "Payments",
      "description": "Generic payment ledger entries (direction-agnostic). Resolved as core-depth alongside paymentIn/paymentOut since it is structurally and semantically identical (a financial-transaction domain) — not explicitly named in either D-06 depth list."
    },
    {
      "name": "Items",
      "description": "Catalog items (products/services). Core commerce domain — full request/response examples."
    },
    {
      "name": "Parties",
      "description": "Customers, vendors, and other business parties. Core commerce domain — full request/response examples."
    },
    {
      "name": "Sales returns",
      "description": "Sales returns. Core commerce domain — full request/response examples."
    },
    {
      "name": "Brands",
      "description": "Product brands. Lookup domain — schema-only plus one response example."
    },
    {
      "name": "Categories",
      "description": "Product categories. Lookup domain — schema-only plus one response example."
    },
    {
      "name": "Sales channels",
      "description": "Sales channels. Lookup domain — schema-only plus one response example."
    },
    {
      "name": "Countries",
      "description": "Country reference data. Filter-only by design — states/cities sub-resources are intentionally excluded from the public gateway allow-list. No by-id GET exists for this domain."
    },
    {
      "name": "Manufacturers",
      "description": "Item manufacturers. Lookup domain — schema-only plus one response example."
    },
    {
      "name": "Item prices",
      "description": "Per-channel item pricing. Lookup domain — schema-only plus one response example."
    },
    {
      "name": "Item stock",
      "description": "Per-location item stock levels. Lookup domain — schema-only plus one response example."
    },
    {
      "name": "Locations",
      "description": "Warehouse/store locations. Lookup domain — schema-only plus one response example."
    },
    {
      "name": "Payment accounts",
      "description": "Payment accounts (bank/cash/card). Lookup domain — schema-only plus one response example."
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Present your API key as `Authorization: Bearer kk_live_...`. Keys are created and revoked from the KomKits dashboard Developer Console. req.businessCode is resolved exclusively from the key — never from headers, query params, or body fields."
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Human-readable error message. Exact copy transcribed from publicApiAuth.js for auth failures."
          }
        }
      },
      "SuccessEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "description": "Response payload. A single resource object for by-id lookups, or an array of resource objects for filter/list operations."
          },
          "message": {
            "type": "string"
          },
          "trace": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "boolean"
          },
          "code": {
            "type": "integer"
          },
          "reqId": {
            "type": "string"
          }
        }
      }
    },
    "responses": {
      "Unauthorized401": {
        "description": "Missing, malformed, unknown, or wrong-hash API key. Exact copy from publicApiAuth.js: \"Missing or malformed Authorization header. Expected: Bearer <api-key>\", \"Malformed API key\", or \"Invalid API key\" (same message for unknown key and wrong hash — no enumeration oracle).",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "missingHeader": {
                "value": {
                  "error": "Missing or malformed Authorization header. Expected: Bearer <api-key>"
                }
              },
              "malformedKey": {
                "value": {
                  "error": "Malformed API key"
                }
              },
              "invalidKey": {
                "value": {
                  "error": "Invalid API key"
                }
              }
            }
          }
        }
      },
      "Forbidden403": {
        "description": "API key has been revoked.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "error": "API key has been revoked"
            }
          }
        }
      },
      "NotFound404": {
        "description": "Resource not found for the given id.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "UnprocessableEntity422": {
        "description": "Request body failed Joi validation.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SuccessEnvelope"
            }
          }
        }
      },
      "TooManyRequests429": {
        "description": "Rate limit exceeded.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "webhooks": {
    "Invoice created": {
      "post": {
        "summary": "invoice.created",
        "description": "Fired when a new invoice is created. Payload shape is identical for every event in the catalogue — only `event` and `reference_*` fields vary.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "string",
                    "example": "invoice.created"
                  },
                  "business_code": {
                    "type": "string"
                  },
                  "reference_id": {
                    "type": "integer"
                  },
                  "reference_number": {
                    "type": "string"
                  },
                  "timestamp": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              },
              "example": {
                "event": "invoice.created",
                "business_code": "acme01",
                "reference_id": 8891,
                "reference_number": "INV-2026-08891",
                "timestamp": "2026-07-02T09:15:00Z"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledge receipt (any 2xx)."
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Invoice created"
          }
        }
      }
    },
    "Order created": {
      "post": {
        "summary": "order.created",
        "description": "Fired when a new sales order is created.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "string",
                    "example": "order.created"
                  },
                  "business_code": {
                    "type": "string"
                  },
                  "reference_id": {
                    "type": "integer"
                  },
                  "reference_number": {
                    "type": "string"
                  },
                  "timestamp": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              },
              "example": {
                "event": "order.created",
                "business_code": "acme01",
                "reference_id": 1042,
                "reference_number": "ORD-2026-01042",
                "timestamp": "2026-07-01T09:12:00Z"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledge receipt (any 2xx)."
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Order created"
          }
        }
      }
    },
    "Payment recorded": {
      "post": {
        "summary": "payment.recorded",
        "description": "Fired when a payment (in or out) is recorded.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "string",
                    "example": "payment.recorded"
                  },
                  "business_code": {
                    "type": "string"
                  },
                  "reference_id": {
                    "type": "integer"
                  },
                  "reference_number": {
                    "type": "string"
                  },
                  "timestamp": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              },
              "example": {
                "event": "payment.recorded",
                "business_code": "acme01",
                "reference_id": 2201,
                "reference_number": "PI-2026-02201",
                "timestamp": "2026-07-03T10:05:00Z"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledge receipt (any 2xx)."
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Payment recorded"
          }
        }
      }
    },
    "Return created": {
      "post": {
        "summary": "return.created",
        "description": "Fired when a new sales return is created.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "string",
                    "example": "return.created"
                  },
                  "business_code": {
                    "type": "string"
                  },
                  "reference_id": {
                    "type": "integer"
                  },
                  "reference_number": {
                    "type": "string"
                  },
                  "timestamp": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              },
              "example": {
                "event": "return.created",
                "business_code": "acme01",
                "reference_id": 771,
                "reference_number": "SR-2026-00771",
                "timestamp": "2026-07-05T11:30:00Z"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledge receipt (any 2xx)."
          }
        },
        "x-mint": {
          "metadata": {
            "title": "Return created"
          }
        }
      }
    }
  },
  "paths": {
    "/order/details": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get a sales order by id",
        "operationId": "getOrderDetailsById",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Internal numeric id of the order."
          }
        ],
        "responses": {
          "200": {
            "description": "Order found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                },
                "example": {
                  "data": {
                    "id": 1042,
                    "order_code": "ORD-2026-01042",
                    "party_name": "Coastal Retail Traders",
                    "status": "processing",
                    "payment_status": "partial",
                    "qc_status": "passed",
                    "payment_method": "bank_transfer",
                    "location_code": "WH-BLR-01",
                    "order_type": "sales",
                    "order_date": "2026-07-01",
                    "due_date": "2026-07-15",
                    "subtotal": 43000.0,
                    "tax_total": 3730.5,
                    "total_amount": 45230.5,
                    "payed_amount": 20000.0,
                    "created_at": "2026-07-01T09:12:00Z"
                  },
                  "message": "Success",
                  "trace": null,
                  "status": true,
                  "code": 200,
                  "reqId": "req_a1b2c3"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden403"
          }
        }
      }
    },
    "/order/details/filter": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Filter/list sales orders",
        "operationId": "getAllOrderDetails",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "order_code": {
                    "type": "string",
                    "nullable": true
                  },
                  "party_name": {
                    "type": "string",
                    "nullable": true
                  },
                  "status": {
                    "type": "string",
                    "nullable": true
                  },
                  "payment_status": {
                    "type": "string",
                    "nullable": true
                  },
                  "qc_status": {
                    "type": "string",
                    "nullable": true
                  },
                  "payment_method": {
                    "type": "string",
                    "nullable": true
                  },
                  "parent_order_code": {
                    "type": "string",
                    "nullable": true
                  },
                  "location_code": {
                    "type": "string",
                    "nullable": true
                  },
                  "order_type": {
                    "type": "string",
                    "nullable": true
                  },
                  "order_date": {
                    "type": "object",
                    "nullable": true,
                    "properties": {
                      "from": {
                        "type": "string",
                        "format": "date"
                      },
                      "to": {
                        "type": "string",
                        "format": "date"
                      }
                    },
                    "description": "Range filter; 'from' must be <= 'to'."
                  },
                  "due_date": {
                    "type": "object",
                    "nullable": true,
                    "properties": {
                      "from": {
                        "type": "string",
                        "format": "date"
                      },
                      "to": {
                        "type": "string",
                        "format": "date"
                      }
                    }
                  },
                  "order_by": {
                    "type": "string",
                    "enum": [
                      "id",
                      "order_code",
                      "order_date",
                      "due_date",
                      "party_name",
                      "status",
                      "location_code",
                      "total_amount",
                      "created_at"
                    ],
                    "default": "id"
                  },
                  "order_direction": {
                    "type": "string",
                    "enum": [
                      "ASC",
                      "DESC"
                    ],
                    "default": "ASC"
                  },
                  "page": {
                    "type": "integer",
                    "minimum": 1,
                    "default": 1
                  },
                  "page_size": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100,
                    "default": 10
                  }
                },
                "additionalProperties": false
              },
              "example": {
                "status": "processing",
                "page": 1,
                "page_size": 10
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paginated list of orders.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                },
                "example": {
                  "data": [
                    {
                      "id": 1042,
                      "order_code": "ORD-2026-01042",
                      "party_name": "Coastal Retail Traders",
                      "status": "processing",
                      "total_amount": 45230.5
                    },
                    {
                      "id": 1043,
                      "order_code": "ORD-2026-01043",
                      "party_name": "Northline Distributors",
                      "status": "processing",
                      "total_amount": 18200.0
                    }
                  ],
                  "message": "Success",
                  "trace": null,
                  "status": true,
                  "code": 200,
                  "reqId": "req_d4e5f6"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden403"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity422"
          }
        }
      }
    },
    "/invoice/details": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "Get an invoice by id",
        "operationId": "getInvoiceDetailsById",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Internal numeric id of the invoice."
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                },
                "example": {
                  "data": {
                    "id": 8891,
                    "invoice_number": "INV-2026-08891",
                    "party_id": 3421,
                    "party_name": "Coastal Retail Traders",
                    "status": "issued",
                    "payment_status": "unpaid",
                    "location_code": "WH-BLR-01",
                    "invoice_date": "2026-07-02",
                    "due_date": "2026-07-16",
                    "subtotal": 40000.0,
                    "tax_total": 4800.0,
                    "discount_total": 500.0,
                    "additional_charges": 250.0,
                    "total_amount": 44550.0,
                    "created_by": 12
                  },
                  "message": "Success",
                  "trace": null,
                  "status": true,
                  "code": 200,
                  "reqId": "req_g7h8i9"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden403"
          }
        }
      }
    },
    "/invoice/details/filter": {
      "post": {
        "tags": [
          "Invoices"
        ],
        "summary": "Filter/list invoices",
        "operationId": "getAllInvoiceDetails",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "invoice_number": {
                    "type": "string",
                    "nullable": true
                  },
                  "party_name": {
                    "type": "string",
                    "nullable": true
                  },
                  "party_id": {
                    "type": "integer",
                    "nullable": true
                  },
                  "status": {
                    "type": "string",
                    "nullable": true
                  },
                  "payment_status": {
                    "type": "string",
                    "nullable": true
                  },
                  "location_code": {
                    "type": "string",
                    "nullable": true
                  },
                  "invoice_date": {
                    "type": "object",
                    "nullable": true,
                    "properties": {
                      "from": {
                        "type": "string",
                        "format": "date"
                      },
                      "to": {
                        "type": "string",
                        "format": "date"
                      }
                    }
                  },
                  "due_date": {
                    "type": "object",
                    "nullable": true,
                    "properties": {
                      "from": {
                        "type": "string",
                        "format": "date"
                      },
                      "to": {
                        "type": "string",
                        "format": "date"
                      }
                    }
                  },
                  "created_by": {
                    "type": "integer",
                    "nullable": true
                  },
                  "order_by": {
                    "type": "string"
                  },
                  "order_direction": {
                    "type": "string",
                    "enum": [
                      "ASC",
                      "DESC"
                    ]
                  },
                  "page": {
                    "type": "integer",
                    "minimum": 1
                  },
                  "page_size": {
                    "type": "integer",
                    "minimum": 1
                  }
                },
                "additionalProperties": false
              },
              "example": {
                "payment_status": "unpaid",
                "page": 1,
                "page_size": 10
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paginated list of invoices.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                },
                "example": {
                  "data": [
                    {
                      "id": 8891,
                      "invoice_number": "INV-2026-08891",
                      "party_name": "Coastal Retail Traders",
                      "payment_status": "unpaid",
                      "total_amount": 44550.0
                    },
                    {
                      "id": 8892,
                      "invoice_number": "INV-2026-08892",
                      "party_name": "Northline Distributors",
                      "payment_status": "paid",
                      "total_amount": 12750.0
                    }
                  ],
                  "message": "Success",
                  "trace": null,
                  "status": true,
                  "code": 200,
                  "reqId": "req_j1k2l3"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden403"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity422"
          }
        }
      }
    },
    "/quotation/details": {
      "get": {
        "tags": [
          "Quotations"
        ],
        "summary": "Get a quotation by id",
        "operationId": "getQuotationDetailsById",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Internal numeric id of the quotation."
          }
        ],
        "responses": {
          "200": {
            "description": "Quotation found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                },
                "example": {
                  "data": {
                    "id": 512,
                    "quotation_number": "QUO-2026-00512",
                    "party_name": "Northline Distributors",
                    "status": "sent",
                    "location_code": "WH-BLR-01",
                    "quotation_date": "2026-06-28",
                    "due_date": "2026-07-12",
                    "total_amount": 18200.0
                  },
                  "message": "Success",
                  "trace": null,
                  "status": true,
                  "code": 200,
                  "reqId": "req_m4n5o6"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden403"
          }
        }
      }
    },
    "/quotation/details/filter": {
      "post": {
        "tags": [
          "Quotations"
        ],
        "summary": "Filter/list quotations",
        "operationId": "getAllQuotationDetails",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "quotation_number": {
                    "type": "string",
                    "nullable": true
                  },
                  "party_name": {
                    "type": "string",
                    "nullable": true
                  },
                  "status": {
                    "type": "string",
                    "nullable": true
                  },
                  "location_code": {
                    "type": "string",
                    "nullable": true
                  },
                  "quotation_date": {
                    "type": "object",
                    "nullable": true,
                    "properties": {
                      "from": {
                        "type": "string",
                        "format": "date"
                      },
                      "to": {
                        "type": "string",
                        "format": "date"
                      }
                    }
                  },
                  "due_date": {
                    "type": "object",
                    "nullable": true,
                    "properties": {
                      "from": {
                        "type": "string",
                        "format": "date"
                      },
                      "to": {
                        "type": "string",
                        "format": "date"
                      }
                    }
                  },
                  "order_by": {
                    "type": "string"
                  },
                  "order_direction": {
                    "type": "string",
                    "enum": [
                      "ASC",
                      "DESC"
                    ]
                  },
                  "page": {
                    "type": "integer",
                    "minimum": 1
                  },
                  "page_size": {
                    "type": "integer",
                    "minimum": 1
                  }
                },
                "additionalProperties": false
              },
              "example": {
                "status": "sent",
                "page": 1,
                "page_size": 10
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paginated list of quotations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                },
                "example": {
                  "data": [
                    {
                      "id": 512,
                      "quotation_number": "QUO-2026-00512",
                      "party_name": "Northline Distributors",
                      "status": "sent",
                      "total_amount": 18200.0
                    },
                    {
                      "id": 513,
                      "quotation_number": "QUO-2026-00513",
                      "party_name": "Coastal Retail Traders",
                      "status": "draft",
                      "total_amount": 9400.0
                    }
                  ],
                  "message": "Success",
                  "trace": null,
                  "status": true,
                  "code": 200,
                  "reqId": "req_p7q8r9"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden403"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity422"
          }
        }
      }
    },
    "/payment-in/details": {
      "get": {
        "tags": [
          "Incoming payments"
        ],
        "summary": "Get an incoming payment by id",
        "operationId": "getPaymentInById",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Internal numeric id of the payment-in record."
          }
        ],
        "responses": {
          "200": {
            "description": "Payment-in record found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                },
                "example": {
                  "data": {
                    "id": 2201,
                    "party_id": 3421,
                    "party_name": "Coastal Retail Traders",
                    "category": "sales_receipt",
                    "status": "Completed",
                    "payment_in_date": "2026-07-03",
                    "payment_account_id": 7,
                    "total_amount": 20000.0
                  },
                  "message": "Success",
                  "trace": null,
                  "status": true,
                  "code": 200,
                  "reqId": "req_s1t2u3"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden403"
          }
        }
      }
    },
    "/payment-in/details/filter": {
      "post": {
        "tags": [
          "Incoming payments"
        ],
        "summary": "Filter/list incoming payments",
        "operationId": "getAllPaymentIns",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "party_id": {
                    "type": "integer",
                    "nullable": true
                  },
                  "category": {
                    "type": "string",
                    "nullable": true
                  },
                  "status": {
                    "type": "string",
                    "nullable": true
                  },
                  "payment_in_date": {
                    "type": "object",
                    "nullable": true,
                    "properties": {
                      "from": {
                        "type": "string",
                        "format": "date"
                      },
                      "to": {
                        "type": "string",
                        "format": "date"
                      }
                    }
                  },
                  "order_by": {
                    "type": "string"
                  },
                  "order_direction": {
                    "type": "string",
                    "enum": [
                      "ASC",
                      "DESC"
                    ]
                  },
                  "page": {
                    "type": "integer",
                    "minimum": 1
                  },
                  "page_size": {
                    "type": "integer",
                    "minimum": 1
                  }
                },
                "additionalProperties": false
              },
              "example": {
                "status": "Completed",
                "page": 1,
                "page_size": 10
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paginated list of incoming payments.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                },
                "example": {
                  "data": [
                    {
                      "id": 2201,
                      "party_name": "Coastal Retail Traders",
                      "category": "sales_receipt",
                      "status": "Completed",
                      "total_amount": 20000.0
                    },
                    {
                      "id": 2202,
                      "party_name": "Northline Distributors",
                      "category": "sales_receipt",
                      "status": "Pending",
                      "total_amount": 9400.0
                    }
                  ],
                  "message": "Success",
                  "trace": null,
                  "status": true,
                  "code": 200,
                  "reqId": "req_v4w5x6"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden403"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity422"
          }
        }
      }
    },
    "/payment-out/details": {
      "get": {
        "tags": [
          "Outgoing payments"
        ],
        "summary": "Get an outgoing payment by id",
        "operationId": "getPaymentOutById",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Internal numeric id of the payment-out record."
          }
        ],
        "responses": {
          "200": {
            "description": "Payment-out record found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                },
                "example": {
                  "data": {
                    "id": 3305,
                    "party_id": 5210,
                    "party_name": "Acme Freight Logistics",
                    "category": "vendor_payment",
                    "status": "Completed",
                    "payment_out_date": "2026-07-04",
                    "total_amount": 12000.0
                  },
                  "message": "Success",
                  "trace": null,
                  "status": true,
                  "code": 200,
                  "reqId": "req_y7z8a9"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden403"
          }
        }
      }
    },
    "/payment-out/details/filter": {
      "post": {
        "tags": [
          "Outgoing payments"
        ],
        "summary": "Filter/list outgoing payments",
        "operationId": "getAllPaymentOuts",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "party_id": {
                    "type": "integer",
                    "nullable": true
                  },
                  "category": {
                    "type": "string",
                    "nullable": true
                  },
                  "status": {
                    "type": "string",
                    "nullable": true
                  },
                  "payment_out_date": {
                    "type": "object",
                    "nullable": true,
                    "properties": {
                      "from": {
                        "type": "string",
                        "format": "date"
                      },
                      "to": {
                        "type": "string",
                        "format": "date"
                      }
                    }
                  },
                  "order_by": {
                    "type": "string"
                  },
                  "order_direction": {
                    "type": "string",
                    "enum": [
                      "ASC",
                      "DESC"
                    ]
                  },
                  "page": {
                    "type": "integer",
                    "minimum": 1
                  },
                  "page_size": {
                    "type": "integer",
                    "minimum": 1
                  }
                },
                "additionalProperties": false
              },
              "example": {
                "status": "Completed",
                "page": 1,
                "page_size": 10
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paginated list of outgoing payments.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                },
                "example": {
                  "data": [
                    {
                      "id": 3305,
                      "party_name": "Acme Freight Logistics",
                      "category": "vendor_payment",
                      "status": "Completed",
                      "total_amount": 12000.0
                    },
                    {
                      "id": 3306,
                      "party_name": "Bright Packaging Co",
                      "category": "expense",
                      "status": "Pending",
                      "total_amount": 2100.0
                    }
                  ],
                  "message": "Success",
                  "trace": null,
                  "status": true,
                  "code": 200,
                  "reqId": "req_b1c2d3"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden403"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity422"
          }
        }
      }
    },
    "/payment": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Get a payment ledger entry by id",
        "operationId": "getPaymentById",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Internal numeric id of the payment record."
          }
        ],
        "responses": {
          "200": {
            "description": "Payment found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                },
                "example": {
                  "data": {
                    "id": 5510,
                    "party_id": 3421,
                    "payment_account_id": 7,
                    "payment_mode": "bank_transfer",
                    "payment_direction": "in",
                    "currency_code": "INR",
                    "amount": 20000.0,
                    "payment_date": "2026-07-03"
                  },
                  "message": "Success",
                  "trace": null,
                  "status": true,
                  "code": 200,
                  "reqId": "req_e4f5g6"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden403"
          }
        }
      }
    },
    "/payment/filter": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Filter/list payment ledger entries",
        "operationId": "getAllPayments",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "party_id": {
                    "type": "integer",
                    "nullable": true
                  },
                  "payment_account_id": {
                    "type": "integer",
                    "nullable": true
                  },
                  "payment_mode": {
                    "type": "string",
                    "maxLength": 20,
                    "nullable": true
                  },
                  "payment_direction": {
                    "type": "string",
                    "nullable": true,
                    "description": "Enum sourced from PAYMENT_DIRECTION constant."
                  },
                  "currency_code": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 3,
                    "nullable": true
                  },
                  "order_by": {
                    "type": "string"
                  },
                  "order_direction": {
                    "type": "string",
                    "enum": [
                      "ASC",
                      "DESC"
                    ]
                  },
                  "page": {
                    "type": "integer",
                    "minimum": 1
                  },
                  "page_size": {
                    "type": "integer",
                    "minimum": 1
                  }
                },
                "additionalProperties": false
              },
              "example": {
                "payment_direction": "in",
                "page": 1,
                "page_size": 10
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paginated list of payments.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                },
                "example": {
                  "data": [
                    {
                      "id": 5510,
                      "party_id": 3421,
                      "payment_mode": "bank_transfer",
                      "payment_direction": "in",
                      "amount": 20000.0
                    },
                    {
                      "id": 5511,
                      "party_id": 5210,
                      "payment_mode": "cheque",
                      "payment_direction": "out",
                      "amount": 12000.0
                    }
                  ],
                  "message": "Success",
                  "trace": null,
                  "status": true,
                  "code": 200,
                  "reqId": "req_h7i8j9"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden403"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity422"
          }
        }
      }
    },
    "/items": {
      "get": {
        "tags": [
          "Items"
        ],
        "summary": "Get a catalog item by id",
        "operationId": "getItemsById",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Internal numeric id of the item."
          }
        ],
        "responses": {
          "200": {
            "description": "Item found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                },
                "example": {
                  "data": {
                    "id": 9931,
                    "sku_code": "SKU-TSHIRT-BLK-M",
                    "name": "Classic Crew T-Shirt - Black - M",
                    "item_type": "product",
                    "hsn_sac": "610910",
                    "category": "Apparel",
                    "brand": "KomKits Essentials",
                    "manufacturer": "Coastal Garments Pvt Ltd",
                    "unit": "pcs",
                    "is_returnable": true
                  },
                  "message": "Success",
                  "trace": null,
                  "status": true,
                  "code": 200,
                  "reqId": "req_k1l2m3"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden403"
          }
        }
      }
    },
    "/items/filter": {
      "post": {
        "tags": [
          "Items"
        ],
        "summary": "Filter/list catalog items",
        "operationId": "getAllItems",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "nullable": true
                  },
                  "sku_code": {
                    "type": "string",
                    "nullable": true
                  },
                  "hsn_sac": {
                    "type": "string",
                    "nullable": true
                  },
                  "name": {
                    "type": "string",
                    "nullable": true
                  },
                  "item_type": {
                    "type": "string",
                    "nullable": true
                  },
                  "category_id": {
                    "type": "integer",
                    "nullable": true
                  },
                  "category": {
                    "type": "string",
                    "nullable": true
                  },
                  "brand_id": {
                    "type": "integer",
                    "nullable": true
                  },
                  "brand": {
                    "type": "string",
                    "nullable": true
                  },
                  "manufacturer_id": {
                    "type": "integer",
                    "nullable": true
                  },
                  "manufacturer": {
                    "type": "string",
                    "nullable": true
                  },
                  "order_by": {
                    "type": "string"
                  },
                  "order_direction": {
                    "type": "string",
                    "enum": [
                      "ASC",
                      "DESC"
                    ]
                  },
                  "page": {
                    "type": "integer",
                    "minimum": 1
                  },
                  "page_size": {
                    "type": "integer",
                    "minimum": 1
                  }
                },
                "additionalProperties": false
              },
              "example": {
                "brand": "KomKits Essentials",
                "page": 1,
                "page_size": 10
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paginated list of items.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                },
                "example": {
                  "data": [
                    {
                      "id": 9931,
                      "sku_code": "SKU-TSHIRT-BLK-M",
                      "name": "Classic Crew T-Shirt - Black - M",
                      "brand": "KomKits Essentials"
                    },
                    {
                      "id": 9932,
                      "sku_code": "SKU-TSHIRT-BLK-L",
                      "name": "Classic Crew T-Shirt - Black - L",
                      "brand": "KomKits Essentials"
                    }
                  ],
                  "message": "Success",
                  "trace": null,
                  "status": true,
                  "code": 200,
                  "reqId": "req_n4o5p6"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden403"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity422"
          }
        }
      }
    },
    "/party": {
      "get": {
        "tags": [
          "Parties"
        ],
        "summary": "Get a party by id",
        "operationId": "getPartyById",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Internal numeric id of the party."
          }
        ],
        "responses": {
          "200": {
            "description": "Party found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                },
                "example": {
                  "data": {
                    "id": 3421,
                    "party_name": "Coastal Retail Traders",
                    "email": "accounts@coastalretail.example",
                    "mobile_number": "+919876543210",
                    "party_type": "customer",
                    "party_category": "retail",
                    "city": "Bengaluru",
                    "country": "India"
                  },
                  "message": "Success",
                  "trace": null,
                  "status": true,
                  "code": 200,
                  "reqId": "req_q7r8s9"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden403"
          }
        }
      }
    },
    "/party/filter": {
      "post": {
        "tags": [
          "Parties"
        ],
        "summary": "Filter/list parties",
        "operationId": "getAllParties",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "party_name": {
                    "type": "string",
                    "nullable": true
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "nullable": true
                  },
                  "mobile_number": {
                    "type": "string",
                    "nullable": true
                  },
                  "party_type": {
                    "type": "string",
                    "nullable": true
                  },
                  "party_category": {
                    "type": "string",
                    "nullable": true
                  },
                  "city": {
                    "type": "string",
                    "nullable": true
                  },
                  "country": {
                    "type": "string",
                    "nullable": true
                  },
                  "order_by": {
                    "type": "string"
                  },
                  "order_direction": {
                    "type": "string",
                    "enum": [
                      "ASC",
                      "DESC"
                    ]
                  },
                  "page": {
                    "type": "integer",
                    "minimum": 1
                  },
                  "page_size": {
                    "type": "integer",
                    "minimum": 1
                  }
                },
                "additionalProperties": false
              },
              "example": {
                "party_type": "customer",
                "page": 1,
                "page_size": 10
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paginated list of parties.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                },
                "example": {
                  "data": [
                    {
                      "id": 3421,
                      "party_name": "Coastal Retail Traders",
                      "party_type": "customer",
                      "city": "Bengaluru"
                    },
                    {
                      "id": 5210,
                      "party_name": "Acme Freight Logistics",
                      "party_type": "vendor",
                      "city": "Chennai"
                    }
                  ],
                  "message": "Success",
                  "trace": null,
                  "status": true,
                  "code": 200,
                  "reqId": "req_t1u2v3"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden403"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity422"
          }
        }
      }
    },
    "/sales_return/details": {
      "get": {
        "tags": [
          "Sales returns"
        ],
        "summary": "Get a sales return by id",
        "operationId": "getSalesReturnDetailsById",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Internal numeric id of the sales return."
          }
        ],
        "responses": {
          "200": {
            "description": "Sales return found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                },
                "example": {
                  "data": {
                    "id": 771,
                    "sales_return_number": "SR-2026-00771",
                    "party_name": "Coastal Retail Traders",
                    "status": "approved",
                    "payment_status": "refunded",
                    "location_code": "WH-BLR-01",
                    "sales_return_date": "2026-07-05",
                    "due_date": "2026-07-10",
                    "total_amount": 3200.0
                  },
                  "message": "Success",
                  "trace": null,
                  "status": true,
                  "code": 200,
                  "reqId": "req_w4x5y6"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden403"
          }
        }
      }
    },
    "/sales_return/details/filter": {
      "post": {
        "tags": [
          "Sales returns"
        ],
        "summary": "Filter/list sales returns",
        "operationId": "getAllSalesReturnDetails",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sales_return_number": {
                    "type": "string",
                    "nullable": true
                  },
                  "party_name": {
                    "type": "string",
                    "nullable": true
                  },
                  "status": {
                    "type": "string",
                    "nullable": true
                  },
                  "payment_status": {
                    "type": "string",
                    "nullable": true
                  },
                  "location_code": {
                    "type": "string",
                    "nullable": true
                  },
                  "sales_return_date": {
                    "type": "object",
                    "nullable": true,
                    "properties": {
                      "from": {
                        "type": "string",
                        "format": "date"
                      },
                      "to": {
                        "type": "string",
                        "format": "date"
                      }
                    }
                  },
                  "due_date": {
                    "type": "object",
                    "nullable": true,
                    "properties": {
                      "from": {
                        "type": "string",
                        "format": "date"
                      },
                      "to": {
                        "type": "string",
                        "format": "date"
                      }
                    }
                  },
                  "order_by": {
                    "type": "string"
                  },
                  "order_direction": {
                    "type": "string",
                    "enum": [
                      "ASC",
                      "DESC"
                    ]
                  },
                  "page": {
                    "type": "integer",
                    "minimum": 1
                  },
                  "page_size": {
                    "type": "integer",
                    "minimum": 1
                  }
                },
                "additionalProperties": false
              },
              "example": {
                "status": "approved",
                "page": 1,
                "page_size": 10
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paginated list of sales returns.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                },
                "example": {
                  "data": [
                    {
                      "id": 771,
                      "sales_return_number": "SR-2026-00771",
                      "party_name": "Coastal Retail Traders",
                      "status": "approved",
                      "total_amount": 3200.0
                    },
                    {
                      "id": 772,
                      "sales_return_number": "SR-2026-00772",
                      "party_name": "Northline Distributors",
                      "status": "pending",
                      "total_amount": 850.0
                    }
                  ],
                  "message": "Success",
                  "trace": null,
                  "status": true,
                  "code": 200,
                  "reqId": "req_z7a8b9"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden403"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity422"
          }
        }
      }
    },
    "/brand": {
      "get": {
        "tags": [
          "Brands"
        ],
        "summary": "Get a brand by id",
        "operationId": "getBrandById",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Internal numeric id of the brand."
          }
        ],
        "responses": {
          "200": {
            "description": "Brand found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                },
                "example": {
                  "data": {
                    "id": 41,
                    "name": "KomKits Essentials",
                    "description": "In-house apparel essentials line",
                    "is_active": true
                  },
                  "message": "Success",
                  "trace": null,
                  "status": true,
                  "code": 200,
                  "reqId": "req_br1nd0"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden403"
          }
        }
      }
    },
    "/brand/filter": {
      "post": {
        "tags": [
          "Brands"
        ],
        "summary": "Filter/list brands",
        "operationId": "getAllBrands",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "brandId": {
                    "type": "integer",
                    "nullable": true
                  },
                  "name": {
                    "type": "string",
                    "nullable": true
                  },
                  "is_active": {
                    "type": "boolean",
                    "nullable": true
                  },
                  "order_by": {
                    "type": "string"
                  },
                  "order_direction": {
                    "type": "string",
                    "enum": [
                      "ASC",
                      "DESC"
                    ]
                  },
                  "page": {
                    "type": "integer",
                    "minimum": 1
                  },
                  "page_size": {
                    "type": "integer",
                    "minimum": 1
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paginated list of brands.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden403"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity422"
          }
        }
      }
    },
    "/category": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Get a category by id",
        "operationId": "getCategoryById",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Internal numeric id of the category."
          }
        ],
        "responses": {
          "200": {
            "description": "Category found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                },
                "example": {
                  "data": {
                    "id": 12,
                    "name": "Apparel",
                    "level": 1
                  },
                  "message": "Success",
                  "trace": null,
                  "status": true,
                  "code": 200,
                  "reqId": "req_ct2g0ry"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden403"
          }
        }
      }
    },
    "/category/filter": {
      "post": {
        "tags": [
          "Categories"
        ],
        "summary": "Filter/list categories",
        "operationId": "getAllCategorys",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "nullable": true
                  },
                  "name": {
                    "type": "string",
                    "nullable": true
                  },
                  "level": {
                    "type": "integer",
                    "minimum": 1,
                    "nullable": true
                  },
                  "order_by": {
                    "type": "string"
                  },
                  "order_direction": {
                    "type": "string",
                    "enum": [
                      "ASC",
                      "DESC"
                    ]
                  },
                  "page": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "page_size": {
                    "type": "integer",
                    "minimum": 1
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paginated list of categories.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden403"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity422"
          }
        }
      }
    },
    "/channel": {
      "get": {
        "tags": [
          "Sales channels"
        ],
        "summary": "Get a sales channel by id",
        "operationId": "getChannelById",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Internal numeric id of the channel."
          }
        ],
        "responses": {
          "200": {
            "description": "Channel found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                },
                "example": {
                  "data": {
                    "id": 3,
                    "name": "Online Store",
                    "channel_type": "web",
                    "transaction_type": "sales"
                  },
                  "message": "Success",
                  "trace": null,
                  "status": true,
                  "code": 200,
                  "reqId": "req_ch4nn3l"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden403"
          }
        }
      }
    },
    "/channel/filter": {
      "post": {
        "tags": [
          "Sales channels"
        ],
        "summary": "Filter/list sales channels",
        "operationId": "getAllChannels",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "nullable": true
                  },
                  "name": {
                    "type": "string",
                    "nullable": true
                  },
                  "channel_type": {
                    "type": "string",
                    "nullable": true
                  },
                  "transaction_type": {
                    "type": "string",
                    "nullable": true
                  },
                  "order_by": {
                    "type": "string"
                  },
                  "order_direction": {
                    "type": "string",
                    "enum": [
                      "ASC",
                      "DESC"
                    ]
                  },
                  "page": {
                    "type": "integer",
                    "minimum": 1
                  },
                  "page_size": {
                    "type": "integer",
                    "minimum": 1
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paginated list of channels.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden403"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity422"
          }
        }
      }
    },
    "/country": {
      "post": {
        "tags": [
          "Countries"
        ],
        "summary": "List countries",
        "description": "Filter-only by design — country has no by-id GET; states/cities sub-resources are intentionally excluded from the D-02 curated public-gateway allow-list.",
        "operationId": "getCountries",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "description": "No filter fields are accepted; the full country reference list is returned."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Full country reference list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                },
                "example": {
                  "data": [
                    {
                      "country": "India",
                      "country_code2": "IN"
                    },
                    {
                      "country": "United States",
                      "country_code2": "US"
                    }
                  ],
                  "message": "Success",
                  "trace": null,
                  "status": true,
                  "code": 200,
                  "reqId": "req_c0untry"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden403"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity422"
          }
        }
      }
    },
    "/manufacturers": {
      "get": {
        "tags": [
          "Manufacturers"
        ],
        "summary": "Get a manufacturer by id",
        "operationId": "getManufacturersById",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Internal numeric id of the manufacturer."
          }
        ],
        "responses": {
          "200": {
            "description": "Manufacturer found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                },
                "example": {
                  "data": {
                    "id": 7,
                    "name": "Coastal Garments Pvt Ltd",
                    "description": "Apparel manufacturing partner",
                    "is_active": true
                  },
                  "message": "Success",
                  "trace": null,
                  "status": true,
                  "code": 200,
                  "reqId": "req_m4nuf4c"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden403"
          }
        }
      }
    },
    "/manufacturers/filter": {
      "post": {
        "tags": [
          "Manufacturers"
        ],
        "summary": "Filter/list manufacturers",
        "operationId": "getAllManufacturerss",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "nullable": true
                  },
                  "name": {
                    "type": "string",
                    "nullable": true
                  },
                  "is_active": {
                    "type": "boolean",
                    "nullable": true
                  },
                  "order_by": {
                    "type": "string"
                  },
                  "order_direction": {
                    "type": "string",
                    "enum": [
                      "ASC",
                      "DESC"
                    ]
                  },
                  "page": {
                    "type": "integer",
                    "minimum": 1
                  },
                  "page_size": {
                    "type": "integer",
                    "minimum": 1
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paginated list of manufacturers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden403"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity422"
          }
        }
      }
    },
    "/item_price": {
      "get": {
        "tags": [
          "Item prices"
        ],
        "summary": "Get an item price by id",
        "operationId": "getItemPriceById",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Internal numeric id of the item-price record."
          }
        ],
        "responses": {
          "200": {
            "description": "Item price found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                },
                "example": {
                  "data": {
                    "id": 601,
                    "sku_code": "SKU-TSHIRT-BLK-M",
                    "channel_id": 3,
                    "currency_code": "INR",
                    "tax_mode": "with_tax",
                    "price": 799.0
                  },
                  "message": "Success",
                  "trace": null,
                  "status": true,
                  "code": 200,
                  "reqId": "req_1t3mpr1c"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden403"
          }
        }
      }
    },
    "/item_price/filter": {
      "post": {
        "tags": [
          "Item prices"
        ],
        "summary": "Filter/list item prices",
        "operationId": "getAllItemPrices",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "nullable": true
                  },
                  "sku_code": {
                    "type": "string",
                    "nullable": true
                  },
                  "channel_id": {
                    "type": "integer",
                    "nullable": true
                  },
                  "currency_code": {
                    "type": "string",
                    "nullable": true
                  },
                  "tax_mode": {
                    "type": "string",
                    "nullable": true,
                    "description": "Enum sourced from TAX_MODE constant."
                  },
                  "order_by": {
                    "type": "string"
                  },
                  "order_direction": {
                    "type": "string",
                    "enum": [
                      "ASC",
                      "DESC"
                    ]
                  },
                  "page": {
                    "type": "integer",
                    "minimum": 1
                  },
                  "page_size": {
                    "type": "integer",
                    "minimum": 1
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paginated list of item prices.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden403"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity422"
          }
        }
      }
    },
    "/item_stock": {
      "get": {
        "tags": [
          "Item stock"
        ],
        "summary": "Get an item stock record by id",
        "operationId": "getItemStockById",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Internal numeric id of the item-stock record."
          }
        ],
        "responses": {
          "200": {
            "description": "Item stock found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                },
                "example": {
                  "data": {
                    "id": 8801,
                    "sku_code": "SKU-TSHIRT-BLK-M",
                    "channel_id": 3,
                    "location_id": 1,
                    "quantity": 240
                  },
                  "message": "Success",
                  "trace": null,
                  "status": true,
                  "code": 200,
                  "reqId": "req_1t3mst0ck"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden403"
          }
        }
      }
    },
    "/item_stock/filter": {
      "post": {
        "tags": [
          "Item stock"
        ],
        "summary": "Filter/list item stock records",
        "operationId": "getAllItemStocks",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "nullable": true
                  },
                  "sku_code": {
                    "type": "string",
                    "nullable": true
                  },
                  "channel_id": {
                    "type": "integer",
                    "nullable": true
                  },
                  "location_id": {
                    "type": "integer",
                    "nullable": true
                  },
                  "order_by": {
                    "type": "string"
                  },
                  "order_direction": {
                    "type": "string",
                    "enum": [
                      "ASC",
                      "DESC"
                    ]
                  },
                  "page": {
                    "type": "integer",
                    "minimum": 1
                  },
                  "page_size": {
                    "type": "integer",
                    "minimum": 1
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paginated list of item stock records.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden403"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity422"
          }
        }
      }
    },
    "/location": {
      "get": {
        "tags": [
          "Locations"
        ],
        "summary": "Get a location by id",
        "operationId": "getLocationById",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Internal numeric id of the location."
          }
        ],
        "responses": {
          "200": {
            "description": "Location found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                },
                "example": {
                  "data": {
                    "id": 1,
                    "name": "Bengaluru Main Warehouse",
                    "type": "warehouse",
                    "location_code": "WH-BLR-01",
                    "city": "Bengaluru",
                    "country": "India"
                  },
                  "message": "Success",
                  "trace": null,
                  "status": true,
                  "code": 200,
                  "reqId": "req_l0c4t10n"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden403"
          }
        }
      }
    },
    "/location/filter": {
      "post": {
        "tags": [
          "Locations"
        ],
        "summary": "Filter/list locations",
        "operationId": "getAllLocations",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "nullable": true
                  },
                  "type": {
                    "type": "string",
                    "nullable": true,
                    "description": "Enum sourced from LOCATION_TYPE constant."
                  },
                  "contact_name": {
                    "type": "string",
                    "nullable": true
                  },
                  "contact_email": {
                    "type": "string",
                    "format": "email",
                    "nullable": true
                  },
                  "city": {
                    "type": "string",
                    "nullable": true
                  },
                  "country": {
                    "type": "string",
                    "nullable": true
                  },
                  "location_code": {
                    "type": "string",
                    "nullable": true
                  },
                  "order_by": {
                    "type": "string"
                  },
                  "order_direction": {
                    "type": "string",
                    "enum": [
                      "ASC",
                      "DESC"
                    ]
                  },
                  "page": {
                    "type": "integer",
                    "minimum": 1
                  },
                  "page_size": {
                    "type": "integer",
                    "minimum": 1
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paginated list of locations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden403"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity422"
          }
        }
      }
    },
    "/payment_account": {
      "get": {
        "tags": [
          "Payment accounts"
        ],
        "summary": "Get a payment account by id",
        "operationId": "getPaymentAccountById",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Internal numeric id of the payment account."
          }
        ],
        "responses": {
          "200": {
            "description": "Payment account found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                },
                "example": {
                  "data": {
                    "id": 7,
                    "party_id": 3421,
                    "account_name": "Coastal Retail Traders - HDFC Current",
                    "payment_mode": "bank",
                    "currency_code": "INR",
                    "current_balance_amount": 154200.0
                  },
                  "message": "Success",
                  "trace": null,
                  "status": true,
                  "code": 200,
                  "reqId": "req_p4ym4cc0"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden403"
          }
        }
      }
    },
    "/payment_account/filter": {
      "post": {
        "tags": [
          "Payment accounts"
        ],
        "summary": "Filter/list payment accounts",
        "operationId": "getAllPaymentAccounts",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "nullable": true
                  },
                  "party_id": {
                    "type": "integer",
                    "nullable": true
                  },
                  "account_name": {
                    "type": "string",
                    "nullable": true
                  },
                  "payment_mode": {
                    "type": "string",
                    "nullable": true,
                    "description": "Enum sourced from PAYMENT_MODE constant."
                  },
                  "order_by": {
                    "type": "string"
                  },
                  "order_direction": {
                    "type": "string",
                    "enum": [
                      "ASC",
                      "DESC"
                    ]
                  },
                  "page": {
                    "type": "integer",
                    "minimum": 1
                  },
                  "page_size": {
                    "type": "integer",
                    "minimum": 1
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paginated list of payment accounts.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden403"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity422"
          }
        }
      }
    }
  }
}
